body {
	background-color:white;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	
}

/* redefine primefaces style */
.ui-widget {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
}

.ui-widget .ui-widget {
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;

	
}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1em;
}

/*        
.iconlogin {
	background-image: url("#{resource['primefaces-bluesky:images/header.png']}");
}*/