<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/HIBERNATE</property>
		<property name="hibernate.connection.username">onebud</property>
		<property name="hibernate.connection.password">onebud</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">150</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<mapping class="fr.ecotilt.appui.model.GeoCoord" />
		<mapping class="fr.ecotilt.appui.model.PictureEntity" />
		<mapping class="fr.ecotilt.appui.model.User" />
		<mapping class="fr.ecotilt.appui.model.Category" />
		<mapping class="fr.ecotilt.appui.model.Pompe" />
		<mapping class="fr.ecotilt.appui.model.Velib" />
		<mapping class="fr.ecotilt.appui.model.BorneElectrique" />
		<mapping class="fr.ecotilt.appui.model.AGenericObject" />
		<!-- <mapping class="fr.project.appui.Worker"/> <mapping class="fr.project.appui.Student"/> 
			<mapping class="fr.project.appui.Address"/> <mapping resource="fr/project/appui/GeoCoord.hbm.xml"/> -->
	</session-factory>
</hibernate-configuration>
